.text-primary {
    --tw-text-opacity: 1;
    color: rgb(48 86 211 / var(--tw-text-opacity));
}.text-white {
    --tw-text-opacity: 1;
    color: rgb(255 255 255 / var(--tw-text-opacity));
}
.p-3 {
    padding: 0.75rem;
}
button{
    background-color: rgb(48 86 211 / var(--tw-bg-opacity));
}
.bg-primary {
    --tw-bg-opacity: 1;
    background-color: rgb(48 86 211 / var(--tw-bg-opacity));
    
}
.border-primary {
    --tw-border-opacity: 1;
    border-color: rgb(48 86 211 / var(--tw-border-opacity));
}
button:hover{
    background-color: rgb(48 86 211 / var(--tw-bg-opacity));
}
